%tr
  %td
    -# no its sales-invoice ...
    -# https://raw-living.de/rawadmin/sales/invoice/view/invoice_id/46559/
    %a{href: magento_admin_url_for("/sales/invoice/view/invoice_id/#{@invoice.invoice_id}/")}
      = @invoice.invoice_nr
    = @invoice.items.length
  %td
    = date @invoice.date
  %td.has-text-right
    = euro @invoice.grand_total
  %td.has-text-right
    %b.is-large
      %a(href="/invoice/#{@invoice.invoice_nr}")
        = euro Maprofit::ProfitCalculation.new.calculate(@invoice)
