%h1 Invoices

%h2 Options 
+ date range



%form(method="post")
  .field.is-horizontal.has-text-danger
    .field-label
      %label.label
        Ignore zero cost
    .field-body
      .field
        .control
          %label.checkbox
            %input{type: "checkbox", name: "ignore_zero_cost", value: "ignore_zero_cost", checked: !!(@calculation_conf&.ignore_zero_cost)}
  .field.is-horizontal
    .field-label
      %label.label
        If shipping cost is 0, subtract ... from profit
    .field-body
      .field
        .control
          %input.input(type="text" name="free_shipping_penalty" value="#{@calculation_conf&.free_shipping_penalty}")
  .field.is-horizontal
    .field-label
      %label.label
        Rate GBP - EUR
    .field-body
      .field
        .control
          %input.input(type="text" name="rate_gbp_eur" value="#{@calculation_conf&.rate_gbp_eur}")
  .field.is-horizontal
    .field-label
    .field-body
      .field
        .control
          %button.button(type="submit") Send

%br
%br


%h4 Invoiced Invoices

%table
  %thead
    %tr
      %th InvoiceNR
      %th Date
      %th Grand total
      %th Profit
      %th Sold (net)
      %th Bought (brut)
      %th.has-text-danger Tax
      %th.has-text-danger Discount
      %th.has-text-danger Message
      %th.has-text-danger Profit (net/%)
  %tbody#invoices
    - @invoices.each do |invoice|
      - @invoice = invoice
      = partial 'invoice_in_list'
    %tr
      %td
        = @invoices.length
      %td
      %td
        = euro @invoices.inject(0.0){|sum,invoice| sum += invoice.grand_total}
      %td(colspan)
        %b.is-large.has-text-danger.has-text-right
          - profit_calc = Maprofit::ProfitCalculation.new
          = euro profit_calc.calculate_many(@invoices)
      %td(colspan=4)

-##invoices
-#
-#:javascript
-#  $(function () {
-#    // event handler
-#    function reqListener () {
-#      console.log( this.response );
-#      // attach somewhere instead
-#      document.getElementById('invoices').appendChild( this.response );
-#    }
-#
-#    // get new XHR object
-#    var newXHR = new XMLHttpRequest();
-#
-#    // bind our event listener to the "load" event.
-#    // "load" is fired when the response to our request is completed without error.
-#    newXHR.addEventListener( 'load', reqListener );
-#
-#    // go to http://requestb.in/1k6rql51?inspect to view your request!
-#    newXHR.open( 'GET', 'invoices/bla' );
-#
-#    // send it off!
-#    newXHR.send();
-#  });
