%h1 Single Invoice

.columns
  .column
    %a{href: magento_admin_url_for("/sales/order_invoice/view/invoice_id/#{@invoice.invoice_id}"), target:"_blank"}
      = @invoice.invoice_nr
      (in magento)
    %br
    Date: #{date @invoice.date}
    %a
      link to order
    %br
    Grand Total
    %b= euro @invoice.grand_total.to_f
    %br
    Profit
  .column
    %form(method="post")
      %nav.panel
        .panel-heading
          %h2 Options
        %label.panel-block
          %input{type: "checkbox", name: "ignore_zero_cost", value: "ignore_zero_cost", checked: !!(@calculation_conf.ignore_zero_cost)}
          Ignore zero cost
        %label.panel-block
          Shipping penalty
          %input.input(type="text" name="free_shipping_penalty" value="#{@calculation_conf&.free_shipping_penalty}")
        %label.panel-block
          Rate GBP - EUR
          %input.input(type="text" name="rate_gbp_eur" value="#{@calculation_conf&.rate_gbp_eur}")
        %label.panel-block
          Start Date
          %input.input#start_date(type="text" name="start_date" value="#{@calculation_conf.start_date}")
        %label.panel-block
          End Date
          %input.input#end_date(type="text" name="end_date" value="#{@calculation_conf.end_date}")
        .panel-block
          %button.button.is-fullwidth(type="submit") Update


%br
%br

%h4 Invoiced Items

%table
  %thead
    %tr
      %th Name
      %th.has-text-right Bought (net)
      %th.has-text-right Sold (net)
      %th.has-text-right Sold (brut)
      %th.has-text-right Qty
      %th Tax
      %th Discount
      %th Message
      %th.has-text-right Profit (net/%)
  %tbody
    - @invoice.items.each do |item|
      - if @calculation_conf&.ignore_zero_cost && item.bought_for_netto.to_f == 0.0
        - next
      = partial('invoice_item_in_list', locals: {item: item, row_class:''})
    - @invoice.items.each do |item|
      - if @calculation_conf&.ignore_zero_cost && item.bought_for_netto.to_f == 0.0
        = partial('invoice_item_in_list', locals: {item: item, row_class:'has-background-warning'})

%h4 Shipping Cost
= euro @invoice.shipping_costs_netto
%br
%br

%h4 Messages regarding calculation
.has-text-danger
  %ul
    %li
      tdb
    %li
      Quite usually there will be items with cost of '0' or similar problems
    %li
      shipping penalty?
    %li
      0-cost items?
%br
%br

%h4 Total Profit
Invoiced:
%b= euro @invoice.grand_total.to_f
%br

Profit:
%b.is-large
  = euro Maprofit::ProfitCalculation.new.calculate(@invoice)
%br
