%h1 Single Invoice

%a{href: magento_admin_url_for("/sales/order_invoice/view/invoice_id/#{@invoice.invoice_id}")}
  = @invoice.invoice_nr
  (in magento)

%h2 Options
%form(method="post")
  .field.is-horizontal
    .field-label
      %label.label
        Ignore zero cost
    .field-body
      .field
        .control
          %label.checkbox
            %input{type: "checkbox", name: "ignore_zero_cost", value: "ignore_zero_cost", checked: !!(@calculation_conf&.ignore_zero_cost)}
  -#.field.is-horizontal
  -#  .field-label
  -#    %label.label
  -#      Attribute ID of ek_netto
  -#  .field-body
  -#    .field
  -#      .control
  -#        %input.input(type="text" name="ek_netto_attribute_id")
  .field.is-horizontal
    .field-label
      %label.label
        If shipping cost is 0, subtract ... from profit
    .field-body
      .field
        .control
          %input.input(type="text" name="free_shipping_penalty" value="#{@calculation_conf&.free_shipping_penalty}")
  .field.is-horizontal
    .field-label
      %label.label
        Rate GBP - EUR
    .field-body
      .field
        .control
          %input.input(type="text" name="rate_gbp_eur" value="#{@calculation_conf&.rate_gbp_eur}")
  .field.is-horizontal
    .field-label
    .field-body
      .field
        .control
          %button.button(type="submit") Send

%br
%br

%h4 Invoiced Items

%table
  %thead
    %tr
      %th Name
      %th Bought (net)
      %th Sold (net)
      %th Sold (brut)
      %th Qty
      %th Tax
      %th Discount
      %th Message
      %th Profit (net/%)
  %tbody
    - @invoice.items.each do |item|
      - if @calculation_conf&.ignore_zero_cost && item.bought_for_netto.to_f == 0.0
        - next
      %tr
        %td
          = item.name
        %td.has-text-right
          = euro item.bought_for_netto.round(2)
        %td.has-text-right
          = euro item.sold_for_netto
        %td.has-text-right
          = euro item.sold_for_brutto
        %td.has-text-right
          = item.qty
        %td
          tbd
          = euro item.tax_class
        %td
          tbd
          = euro item.discount
        %td
          = item.msgs.join(" - ")
        %td.has-text-right
          %b= euro item.profit_netto.round(2)
          - if !item.profit_netto_percent.infinite? && !item.profit_netto_percent.nan?
            %br
            = "(#{item.profit_netto_percent.round(0)}\%)"
    - @invoice.items.each do |item|
      - if @calculation_conf&.ignore_zero_cost && item.bought_for_netto.to_f == 0.0
        %tr.has-background-warning
          %td
            = item.name
          %td
            = euro item.bought_for_netto.round(2)
          %td
            = euro item.sold_for_netto
          %td
            = euro item.sold_for_brutto
          %td
            tbd
            = euro item.tax_class
          %td
            tbd
            = euro item.discount
          %td
            = item.msgs.join(" - ")
          %td
%h4 Shipping Cost
= euro @invoice.shipping_costs_netto
%br
%br

%h4 Messages regarding calculation
tdb
Quite usually there will be items with cost of '0' or similar problems
%br
%br

%h4 Total Profit
Invoiced:
%b= euro @invoice.grand_total.to_f
%br

Profit:
- profit = @invoice.items.inject(0.0) do |sum, item|
  - if item.bought_for_netto.to_f != 0
    - sum + item.profit_netto.round(2)
  - else
    - sum
- if @invoice.shipping_costs_netto.to_f == 0.0
  - profit -= @calculation_conf&.free_shipping_penalty.to_f
  (shipping penalty #{@calculation_conf&.free_shipping_penalty.to_f} €)
  %br
%b.is-large
  = euro profit.round(2)
%br
